<!DOCTYPE html>
<html>
<head>
    <title>Swashbuckle TestApp</title>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Bundles/Swagger")
</head>

<body>
    @RenderBody()
</body>

</html>